@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.fh2 {
	text-align: center;
}

.input-prepend {
	margin: 10px 0;
}

.input-prepend .add-on {
	border-radius: 4px 0 0 4px;
	background-color: #EEEEEE;
	height: 28px;
	padding: 3px;
	float: left;
	border: 1px solid #111;
	width: 30px;
	text-align: center;
}

.input-prepend  input, textarea {
	border: 1px solid #111;
	border-radius: 0 4px 4px 0;
	width: 85%;
	min-width: 200px;
	padding-left: 10px;
}

.input-prepend  textarea {
	margin: 0 0 0 -1px;
	padding: 5px 10px;
	font-family: Arial;
	font-size: 13px;
	border-radius: 0 4px 4px 4px;
	resize: vertical;
	min-height: 200px;
}

.input-prepend  input {
	height: 28px;
	border-left: none;
}

.errorLabel {
	background-color: #ff8888 !important;
}

.validLabel {
	background-color: #EEEEEE !important;
}

.indication {
	margin: 0;
	padding: 3px;
	text-align: center;
	border: 1px dashed #999;
	color: #222;
	font-size: 13px;
}

.errorMess {
	color: #ff0000 !important;
}

.error:not(input):not(textarea) {
	color: #ff0000;
	padding-left: 20px;
	font-size: 12px;
}

.error:not(label) {
	background-color: #ff8888;
}

input[type=submit] {
	float: left;
	cursor: pointer;
	background: none;
	border: none;
	font-family: 'Alice', serif;
	color: #555;
	font-weight: bold;
	font-size: 18px;
	padding: 10px 25px;
	position: relative;
	margin-top: 15px;
	border: 1px solid #B0B0B0;
	text-shadow: 0px 1px 1px #E8E8E8;
	background: rgb(247, 247, 247);
	border-radius: 5px;
	box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #EAEAEA;
	transition: all 0.2s linear;
}

input[type=submit]:hover {
	color: #686868;
	border-color: #CECECE;
	background: rgb(244, 244, 244);
	box-shadow: 0px 1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
}

input[type=submit]:active, input[type=submit]:focus {
	position: relative;
	top: 1px;
	color: #515151;
	background: rgb(234, 234, 234);
	box-shadow: 0px -1px 1px #FFF inset, 0 0 0px 5px #E0E0E0;
}