.fixed {
	position: relative;
	min-height: 70%;
	height: 70%;
	overflow: hidden;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 1;

	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
}
