/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-size: 100%;
	font-family: "Roboto", sans-serif;
	color: #3d3536;
	background-color: white;
}

body, html {
	/* important */
	height: 100%;
}

a {
	color: #792681;
	text-decoration: none;
}

.banner {
	width: 75%;
}

@media only screen and (min-width: 768px) {
	.banner {
		width: 40%;
	}
}

.trilliumnav {
	background: rgba(255, 255, 255, 0.95);
	font-size: large;
}

.trilliumnav  img {
	display: inline;
	height: 80%;
	margin: initial;
	padding: initial;
	align: initial;
}

@media only screen and (min-width: 768px) {
	.header {
		height: 70px;
	}
}

.fade {
	background: rgba(255, 255, 255, 0.95);
}

.main-nav {
	float: right;
	margin-right: 5%;
	width: 44px;
	height: 100%;
	background: url("/images/cd-icon-menu.svg") no-repeat center center;
	background-size: 44px 44px;
	cursor: pointer;
}

.main-nav ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

.main-nav ul.is-visible {
	-webkit-transform: translateY(50px);
	-moz-transform: translateY(50px);
	-ms-transform: translateY(50px);
	-o-transform: translateY(50px);
	transform: translateY(50px);
}

.main-nav a {
	display: block;
	height: 50px;
	line-height: 50px;
	padding-left: 5%;
	background: #2f292a;
	border-top: 1px solid #453c3d;
	color: #8e7d7f;
}

@media only screen and (min-width: 768px) {
	.main-nav {
		width: auto;
		height: auto;
		background: none;
		cursor: auto;
	}
	.main-nav ul {
		position: static;
		width: auto;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		line-height: 70px;
	}
	.main-nav ul.is-visible {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	.main-nav li {
		display: inline-block;
		margin-left: 1em;
	}
	.main-nav a {
		display: inline-block;
		height: auto;
		line-height: normal;
		background: transparent;
		padding: .6em 1em;
		border-top: none;
		color: #3d3536;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		font-size: 0.875rem;
	}
	.no-touch .main-nav a:hover {
		color: #99a478;
	}
}

.main-content {
	/* you need to assign a min-height to the main content so that the children can inherit it*/
	height: 100%;
	position: relative;
	z-index: 1;
}

.fixed {
	position: relative;
	min-height: 70%;
	height: 70%;
	overflow: hidden;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 1;

	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
}
}

@media only screen and (min-width: 768px) {
}

.sectiontext {
	min-height: 25%;
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 90%;
	text-align: center;
	font-size: 30px;
	font-size: 1.875rem;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	color: white;
}

.sectiontext a {
	padding: 15px;
	font-weight: bold;
}

.attribution {
	position: absolute;
	font-size: xx-small;
	bottom: 0;
	right: 0;
	color: rgb(255, 255, 255);
}

.fixed.suryathon {
	background-image: url("/images/suryathon4.jpg");
}

.fixed.storefront {
	background-image: url("/images/storefront.png");
}

.fixed.vrksasana {
	background-image:
		url("https://upload.wikimedia.org/wikipedia/commons/2/2a/Vrksasana.jpg");
}

.fixed.sauce {
	background-image: url("images/sauce.jpg");
}

.fixed.willow {
	background-image: url("/images/willow-fall.jpg");
}

@media only screen and (min-width: 768px) {
	.fixed {
		
	}
	.fixed h1, .fixed h2 {
		font-size: 36px;
	}
}

@media only screen and (min-width: 1170px) {
	.fixed h1, .fixed h2 {
		font-size: 48px;
		font-weight: 300;
	}
}

.fixed.box {
	border-style: solid;
}

.scrolling {
	min-height: 30%;
	padding: 5px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.scrolling.orchard {
	background-color: #D59A7C;
	color: #a6989a;
}

.scrolling.color_two {
	background-color: #99a478;
	color: #3d3536;
}

.scrolling.color_three {
	background-color: #b4d7a8;
	color: #3d3536;
}

@media only screen and (min-width: 768px) {
	.scrolling {
		padding: 2em 0;
		font-size: 20px;
		font-size: 1.25rem;
		line-height: 2;
		font-weight: 300;
	}
}

iframe {
	margin: 0 auto;
	display: block;
	width: 90%;
	min-height: 500px;
	border: 1px solid #ccc;
}

address {
	display: block;
	font-style: italic;
	padding-left: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#schedule {
	padding-left: 3%;
	margin: 2px;
	text-align: left;
}

#schedule li {
	list-style-type: square;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	background: rgba(107, 98, 98, 0.95);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	z-index: 2;
	padding-top: 5px;
	padding-right: 20px;
	text-align: right;
	font-size: 15px;
}

.footer ul li {
	display: inline;
	padding-left: 10px;
}

.column-left {
	text-align: center; #
	border: 2px solid;
	padding: 6px;
	max-width: 33%;
}

.column-right {
	text-align: center; #
	border: 2px solid;
	padding: 6px;
	max-width: 33%;
}

.column-center {
	text-align: center;
	display: inline-block; #
	border: 2px solid;
	padding: 6px;
	max-width: 33%;
}

.code {
	font-family: monospace;
	letter-spacing: 0px;
	font-size: 16px;
	line-height: normal;
	letter-spacing: .3px;
	font-style: normal;
	color: rgba(8, 0, 26, .7);
	padding: 10px;
	text-align: left;
}

.story {
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	letter-spacing: 0px;
	font-size: 16px;
	line-height: 1.6em;
	letter-spacing: .3px;
	font-weight: 400;
	font-style: normal;
	color: rgba(8, 0, 26, .7);
	padding: 10px;
}

.solo {
	text-align: left;
}

.travel {
	text-align: left
}

/*Popup*/
#box-menu a {
	text-transform: uppercase;
	-moz-box-shadow: inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7;
	box-shadow: inset 0px 1px 0px 0px #54a3f7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1
		), color-stop(1, #0061a7));
	background: -moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1',
		endColorstr='#0061a7', GradientType=0);
	background-color: #007dc1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #124d77;
	color: #ffffff;
	font-size: 16px;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #154682;
}

#box-menu a:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7
		), color-stop(1, #007dc1));
	background: -moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7',
		endColorstr='#007dc1', GradientType=0);
	background-color: #0061a7;
}

/*Popup*/
#box-menu a {
	text-transform: uppercase;
	-moz-box-shadow: inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7;
	box-shadow: inset 0px 1px 0px 0px #54a3f7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1
		), color-stop(1, #0061a7));
	background: -moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1',
		endColorstr='#0061a7', GradientType=0);
	background-color: #007dc1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #124d77;
	color: #ffffff;
	font-size: 16px;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #154682;
}

#box-menu a:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7
		), color-stop(1, #007dc1));
	background: -moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7',
		endColorstr='#007dc1', GradientType=0);
	background-color: #0061a7;
}

/**
 * Teacher bio popup styles
 */
.teacher-bio {
	top: 75px !important;
}

.teacher-bio p {
	padding: 5px;
	margin-top: 2px;
}

/**
 * TEACHER PROFILE THUMBS
 */
.profile-thumb  img {
	width: 200px;
}

.profile-thumb {
	text-align: center;
}

.profileblock {
	
}

.profilestretch {
	width: 100%;
	display: inline-block;
	font-size: 0;
	line-height: 0
}

.profileblock img {
	max-width: 100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.profileblock h3 {
	text-align: center;
	font-size: 1.0em;
	margin-top: 0px;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	color: #8F0047;
}

/**
 * BOOTSTRAP CUSTOMIZATIONS
 */
.btn-lg.round {
	border-radius: 24px;
}

/**
 * CONTACT FORM STYLE OVERRIDES 
 */
.contactreset {
	width: 70%;
	margin: auto;
	padding: 0px;
	box-shadow: initial;
	font-size: 20px;
	font-size: initial;
	line-height: initial;
	font-weight: 300;
	display: block;
}

.contactreset label {
	display: block;
	padding: 0px;
	margin: 0px;
}

.contactreset ul {
	list-style: none;
}

.contactreset ul li {
	display: block;
	padding-left: 0px;
}

/**
 * POP
 */
.box {
	width: 20%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.2);
	padding: 35px;
	border: 2px solid #fff;
	border-radius: 20px/50px;
	background-clip: padding-box;
	text-align: center;
}

.button {
	font-size: 1em;
	padding: 1px;
	transition: all 0.3s ease-out;
}

.button:hover {
	
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 9999;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #eee;
	border-radius: 5px;
	width: 90%;
	position: relative;
	transition: all 5s ease-in-out;
}

.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: orange;
}

.popup {
	max-height: 30%;
	overflow: auto;
}

/**
 * FACEBOOK BTN 
 */
.facebook-btn {
	display: block;
	margin: auto;
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.facebook-btn {
		width: 30rem;
	}
}