---
layout: trillium
head: trillium-head.html
simpleformtoken: 46b241b1bb51d1e85816689abbb6ceee
---
{% include site-head.html %}
<div class="container">
  <p><a name="empaths"></a></p>
  <p><hr noshade size="1"></p>
  <h2>Retreat for Empaths, Healers, and other Sensitive People</h2>
  <img src="/images/montan.jpeg" width="100" height="75" hspace="10" align="right">
  <h3>With Kathy Montan, BCET, RSMT, Body-Centered Expressive Therapist and a
    Registered Somatic Movement Therapist</h3>
  <p><strong>Saturday, March 5, 10:30 am - 4:30 pm</strong>.<br>
  There will be a 45 minute break for lunch. You may eat at a downtown
  restaurant or bring a bag lunch.</p>
  <p><strong>Fee $75</strong><p>
  <p>A lot of us are clairsentient, which means that we pick up on the feelings
    of those around us. Sometimes this is a good thing and sometimes it's too
    much of a good thing. This retreat is a way to explore ways (both
    energetically and more concretely) to create boundaries around our innate
    abilities. If you feel that you sometimes take on the pain of others, this
    retreat/workshop will help you. We will be doing a combination of dialog,
    movement, teaching sessions, guided meditations, and creative expression.
    You will learn skills for what to do before difficult or emotional
    encounters, during the encounters, and afterwards if you feel drained.</p>
  <p>For sensitive people, the chance to come into community with others who
    are like themselves can be invaluable. We learn from each other and feel
    supported in a very rich and empowering way.</p>
  <p><strong>Feedback from participants who have attended previous retreats:</strong></p>
   <ul>
   <li>"This was great. Loved the combination of right/left brain activities.
     Was very tight when I can and was loose and relaxed and optimistic when I
     left."</li>
   <li>"Enjoyed all aspects. The science, the art, movement. We did a lot for
    ourselves."</li>
   <li>"I can't believe how much I got out of this workshop!! I wouldn't change
    anything you did.  The pace was good, the balance of moving, sitting,
    thinking was good. Time flew. Offer it again!"</li>
   </ul>   
  <p>To learn more about Kathy, go to
    <a href="http://www.kathymontan.abmp.com">www.kathymontan.abmp.com</a></p>
  <p>Pre-registration recommended:
    <a href="mailto:admin@trilliumyogacenter.com">admin@trilliumyogacenter.com</a>,
    or call 315-265-5732.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</container>


<!--<h1>Recent Events at Trillium</a>
<div class="container">
<h2><img src="/images/headshots/phippen.jpg" align="right" hspace="5">Former North Country Resident and Grammy Award-Nominee Flutist Peter Phippen in Concert</h2>
<p><strong>To benefit the Alzheimer's Association</strong></p>
<h3>Friday, October 23 at 7:30 pm</h3> 
<p>Tickets: $12</p>
<p>Grammy Award-nominated flutist and four-time Native American Music Award nominee Peter Phippen returns to Potsdam to
  perform in concert on Friday, October 23 at 7: 30 p.m.</p>
<p>The concert will be held at the Trillium Center for Yoga &amp; Health at 25 Market Street in downtown Potsdam.
  A portion of the proceeds from the concert will benefit the Alzheimer’s Association.  Tickets are $12 and can be purchased at the door.</p>
<p>Phippen, who grew up in nearby Buckton, is an internationally acclaimed world flutes musician and composer who records and performs
  music that draws on Native American folk tradition and other folk traditions to create a uniquely ethereal sound. His music has been
  described as “earthy, improvised and impressionistic, offering listeners a beautifully serene atmosphere for meditation and
  reflections” (Music Design).</p>
<p>Two of his songs, “Night Song” and “Lullabye,” are currently featured on the digital download  compilation, “Native American
  Flute Music for Meditation” (Canyon Records), that is  #48 on iTunes World Music.</p>
<p>“This is a wonderful opportunity to experience Peter Phippens’ transformative music,” said Robin McClellan, who is organizing
  the concert.  “And the meditative space of the Trillium Yoga studio provides the ideal setting.”</p>
<p>For more information, Shannon Miller – <a href="mailto:shannon@trilliumyogacenter.com">shannon@trilliumyogacenter.com</a> or (315) 244 3550</p>
  <p>&nbsp;</p>
  <br/>

</container>-->


{% include popups.html %}
{% include scripts.html %}
