---
layout: trillium
head: trillium-head.html
simpleformtoken: 46b241b1bb51d1e85816689abbb6ceee
---
{% include site-head.html %}
<div class="container">
  <a name="pearson"></a>
<h1>Special Events and Workshops</h1>
<h2><img src="/images/headshots/pearson.jpg" align="right" hspace="5">The Healing Power of the Breath</h2>
<p><strong>With Caroline Pearson</strong></p>
<h3>Saturday, November 7, 2015, 2:00-4:30 pm</h3> <p>Cost: $35</p>
<p>Based on the teachings of Richard Brown MD, and Patricia Gerbarg, MD, learn simple yet effective
  breathing techniques which can: increase your stress resilience, renew your energy, increase lung
  capacity, improve cardio-respiratory health, and improve relationships and empathetic abilities.
  Breathing exercises will be interspersed with stretching and movement: wear comfortable clothes
  that you would  use for a yoga class.</p>
  <p>Caroline Pearson is a Kripalu certified yoga instructor, and ANCC certified Family Nurse Practitioner.
    She has been practicing yoga for over 30 years, and teaching both group and private classes since 2011.
    Caroline led regular weekly yoga classes with students and Club Yoga at St. Lawrence University from
    2011-2014.</p>
  <p>Caroline holds a particular interest in the healing aspects of yoga for emotional and mental health,
    including post traumatic stress disorder. She holds certification as a Life Force Yoga teacher for
    depression and anxiety, and teaches meditation techniques designed by psychiatrists Richard Brown and
    Patricia Gerbarg, that are simple, but profound in their benefits on health and well being.</p>
   <p>For more information you can contact her at: <a href="mailto:athayogini@gmail.com">athayogini@gmail.com</a></p>
  <br/>

</container>
<p><a name="renewal"></a></p>
<div class="container">
<h2>Yoga and Music to benefit Renewal House</h2>
<p><strong>With Trillium staff and friends</strong></p>
<h3>Saturday, November 14, 2015, 9:00 am - 7:00 pm</h3> <p>Cost: $20 per class</p>
<p>Join us on Saturday, November 14 for a very special day at Trillium Center for Yoga & Health where we will be hosting a fundraiser for the St. Lawrence Valley Renewal House.</p>
<p>We are happy to announce our schedule which includes five yoga classes though out the day, each with live music accompaniment. As well as a midday musical interlude which will be open to the public to drop in, by donation.</p>
<p>The cost is $20.00 per class. Class size will be limited to 15 and will fill up quickly.</p>
<p>To avoid disappointment we suggest that you reserve your mat space in advance.</p>
<p>To do this you can simply see any teacher at Trillium when you are there next or you can email <a href="mailto:hannon@trilliumyogacenter.com">shannon@trilliumyogacenter.com</a>.</p>
<p>You will be asked to pay at the time of space reservation.</p>
<p>We hope that you will take this opportunity to support the St Lawrence Valley Renewal House, support the teachers and musicians who are all generously donating their time and talents, while supporting yourself, body, mind and spirit.</p>
<p>It is going to be fantastic! don't miss it.</p>
<p><strong>Here is what the day looks like:</strong></p>
<ul>
<li>9:00 am -10:30 am:  Yoga taught by Jean & Shannon. Musical guest Gretchen Koelher</li>
<li>11:00 am -12:30 pm: Yoga taught by Erica Sharpe. Musical guests Allan Cox & Steve Manders</li>
<li>12:45 pm - 1:45 pm: Midday Musical Interlude (Erica Sharpe, Steve Manders, Allan Cox & Dan Gagliardi)</li>
<li>2:00 pm - 3:00 pm: Tabata taught by Tracy Sharlow. Percussion accompaniment</li>
<li>3:30 pm - 5:00 pm: Yoga Taught by Lori. Musical Guest Erica Sharpe</li>
<li>5:30 pm - 7:00 pm: Kundalini Yoga with Gurumantra Kaur. Musical Guest Beth Robinson</li>
</ul>
<p><strong>All proceeds will go to The St Lawrence Valley Renewal House.</strong><br/></p>
<p>&nbsp;</p>

</container>


<!--<h1>Recent Events at Trillium</a>
<div class="container">
<h2><img src="/images/headshots/phippen.jpg" align="right" hspace="5">Former North Country Resident and Grammy Award-Nominee Flutist Peter Phippen in Concert</h2>
<p><strong>To benefit the Alzheimer's Association</strong></p>
<h3>Friday, October 23 at 7:30 pm</h3> 
<p>Tickets: $12</p>
<p>Grammy Award-nominated flutist and four-time Native American Music Award nominee Peter Phippen returns to Potsdam to
  perform in concert on Friday, October 23 at 7: 30 p.m.</p>
<p>The concert will be held at the Trillium Center for Yoga &amp; Health at 25 Market Street in downtown Potsdam.
  A portion of the proceeds from the concert will benefit the Alzheimer’s Association.  Tickets are $12 and can be purchased at the door.</p>
<p>Phippen, who grew up in nearby Buckton, is an internationally acclaimed world flutes musician and composer who records and performs
  music that draws on Native American folk tradition and other folk traditions to create a uniquely ethereal sound. His music has been
  described as “earthy, improvised and impressionistic, offering listeners a beautifully serene atmosphere for meditation and
  reflections” (Music Design).</p>
<p>Two of his songs, “Night Song” and “Lullabye,” are currently featured on the digital download  compilation, “Native American
  Flute Music for Meditation” (Canyon Records), that is  #48 on iTunes World Music.</p>
<p>“This is a wonderful opportunity to experience Peter Phippens’ transformative music,” said Robin McClellan, who is organizing
  the concert.  “And the meditative space of the Trillium Yoga studio provides the ideal setting.”</p>
<p>For more information, Shannon Miller – <a href="mailto:shannon@trilliumyogacenter.com">shannon@trilliumyogacenter.com</a> or (315) 244 3550</p>
  <p>&nbsp;</p>
  <br/>

</container>-->


{% include popups.html %}
{% include scripts.html %}
