---
layout: trillium
head: trillium-head.html
simpleformtoken: 46b241b1bb51d1e85816689abbb6ceee
---
{% include taichi-header.html %}
  <div class="container">

<h1>North Country Tai Chi at Trillium</h1>
<h3>Welcome North Country Tai Chi LLC!</h3>
<p>Trillium Center for Yoga and Health LLC is pleased to invite
North Country Tai Chi LLC with Master Sean Boutin to
our center. North Country Tai Chi
LLC is a traditional Tai Chi academy offering basic, intermediate, and advanced
instruction in Chinese Tai Chi. </p>
<p>Master Sean Boutin was certified
and trained by the Wushu Chinese Grandmaster Aiping Cheng and Dr. Du Jing.</p>
<p>To learn more about his academy, you are welcome to visit
<a href="http://www.northcountrytaichi.com">northcountrytaichi.com</a> or contact Master Sean directly at (315) 229-4003 or <a href="mailto:northcountrytaichi@gmail.com">northcountrytaichi@gmail.com</a></p>
<h3>Tai Chi Basics with Master Sean Boutin</h3>
<p>At North Country Tai Chi LLC, no class is more important
than our Tai Chi Basics course. All Tai Chi movement is an expression of
layered simplicity and our basics course introduces you to the logic of how to
do that intelligently and in balance. This is a time-tested Chinese tradition
and it is taught one step at a time with Master Sean. The sequences you learn
in Tai Chi Basics sets the foundation for the simple grace for which Tai Chi is
known and from which all the health benefits are ultimately derived. </p>
<h3>Complimentary Sneak Peek Open House</h3>
<p>We are pleased to invite all members of the community to our
annual Winter Open House. At the Trillium Center for Yoga and Health LLC, we
will offer four complimentary classes from 12:30-1:30 pm on:</p>
<p><strong>Tuesday (1/12), Thursday (1/14), Tuesday (1/19),
and Thursday (1/21)</strong></p>
<p>This is a nice way to try Tai Chi before the semester and see if you want to
join us for our regular practice. </p>
<h3>Semester System and Academic Calendar</h3>
<p>The North Country Tai Chi LLC structures its academic
calendar just like a university or college, ordering classes around a semester
calendar. Students are asked to submit a full tuition payment at the start of
each semester.</p>
<p><strong>The 2016 Spring Semester is as follows:<strong></p>
<p>16 Weeks (32 Class Meetings) Jan 26th - May 19th</p>
<p>Every Tuesday and Thursday 12:30 - 1:30 pm</p>
<h3>Class Fees</h3>
<p>Price Per Class: $10</p>
<p>Total Class Tuition: $320</p>
<p>** Please note that there is a one-week spring break during
the semester. There are no class meetings on March 21 (Mon), 22 (Tue), 23 (Wed),
or 24 (Thu).**</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</container>





{% include popups.html %}
{% include scripts.html %}
