
<div class="fixed vrksasana">
	<div class="sectiontext">
		<img class="banner" src="images/trillium_logo_900_highlight.png" alt="logo"/>
		<br> <br>
		<div class="facebook-btn" >
			<a class="btn btn-primary btn-block btn-lg round" href="https://www.facebook.com/pages/Trillium-Center-for-Yoga-Health/1585666391687863?fref=ts"> 
				Love us on Facebook!
			</a>
		</div>
	</div>
	<div class="attribution">
		<a href="https://commons.wikimedia.org/wiki/File:Vrksasana.jpg">Vrksasana</a>
		by <a href="http://www.flickr.com/people/43546466@N00">Judith</a> <a
			href="http://creativecommons.org/licenses/by/2.0">CC BY 2.0</a>
	</div>
</div>

<div class="scrolling">
	<div class="content">
		<div class="column-left">
			<h2>Location</h2>
			<p>Conveniently located in downtown Potsdam, NY - centrally
				located near SUNY Potsdam and Clarkson University in the foothills
				of the Adirondacks.</p>
			<address>
				Downtown Potsdam<br> 29 Main Street<br> Potsdam, NY 13668<br>
			</address>
		</div>
		<div class="column-right">
			<h2>About</h2>
			<p>Trillium Center for Yoga and Health, LLC was founded in 2015
				by Shannon Miller, Terry de la Vega, and Jean Benvenuto to bring
				together the best instructors across all varieties of yoga our
				region has to offer.</p>


		</div>


	</div>




</div>

