
<div class="fixed storefront">
	<div class="sectiontext">
		<img class="banner" src="images/trillium_logo_900_highlight.png" alt="logo"/>
		<br> <br>
		<div class="facebook-btn" >
			<a class="btn btn-primary btn-block btn-lg round" href="https://www.facebook.com/pages/Trillium-Center-for-Yoga-Health/1585666391687863?fref=ts"> 
				Love us on Facebook!
			</a>
		</div>
	</div>

</div>

<div class="scrolling">
	<div class="container">
		<div class="row">
		<div class="span2">
			<div class="col-md-6">
				<h2>Location</h2>
				<p>Conveniently located in downtown Potsdam, NY - centrally
					located near SUNY Potsdam and Clarkson University in the foothills
					of the Adirondacks.</p>
				<address>
					Downtown Potsdam<br/>
					<a href="https://www.google.com/maps/place/25+Market+Street+Potsdam+NY+13676" target="_blank">25 Market Street<br> Potsdam, NY 13676<br></a>
				</address>
			</div>
			<div class="col-md-6">
				<h2>About</h2>
				<p>Trillium Center for Yoga and Health, LLC was founded in 2015
					by Shannon Miller, Terry de la Vega, and Jean Benvenuto to bring
					together the best instructors across all varieties of yoga our
					region has to offer.</p>


			</div>
		</div>
		</div>

	</div>




</div>

