

{% include section-head.html identification="contact" title="" subtitle="" splash="storefront"%}


<div class="scrolling">
	<div class="container contact">
<h1 style="text-align:left;">Contact us</h1>
<h4>We'd love to hear from you!</h4>
	<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6">
	<h3>Send us an e-mail</h3><br/>
		<div class="contactreset">
			<form id="frmContact" autocomplete="on"
				action="https://getsimpleform.com/messages?form_api_token={{page.simpleformtoken}}"
				method="post">
				<!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
				<input type='hidden' name='redirect_to'
					value='{{site.url}}{{page.url}}#contactthankyou' />

				<div class="input-prepend">
					<label for="name"> <span
						class="add-on validLabel fontawesome-user" name="name"></span>
					</label> <input size="30" id="name" type="text" name="name"
						placeholder="Name" title="Please provide your name." />
				</div>

				<div class="input-prepend">
					<label for="email"> <span
						class="add-on validLabel fontawesome-envelope"></span></label> <input
						type="text" id="email" name="email" placeholder="Email address"
						title="Please provide a valid email address." />
				</div>

				<div class="input-prepend">
					<label for="phone"><span
						class="add-on validLabel fontawesome-phone"></span></label> <input
						type="text" name="phone" id="phone" placeholder="Phone Number"
						title="Please provide a valid phone number." />
				</div>

				<div class="input-prepend">
					<label for="target"> <span
						class="add-on validLabel fontawesome-heart"></span></label>
					<div class="dropdown">
						<button id="dLabel" type="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							General Questions or Comments <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="dLabel">
							<li><a id="generalcontact" href="#frmContact">General
									Questions and Comments</a></li>

							{% assign sorted = (site.posts | sort: 'shortname') %}
							{% for post in sorted %}
							{% if post.categories contains 'ownerbio' %}
							{% if post.email == nil %}
							{% else %}
							<li>
								<a id="{{post.shortname}}contact" href="#frmContact">{{post.title}}</a>
							</li>
							{% endif %}
							{% endif %}
							{% endfor %}
							<li role="separator" class="divider"></li>
							{% for post in sorted %}
							{% if post.categories contains 'teacherbio' or post.categories contains 'counselorbio' %}
							{% if post.email == nil %}
							{% else %}
							<li>
								<a id="{{post.shortname}}contact" href="#frmContact">{{post.title}}</a>
							</li>
							{% endif %}
							{% endif %}
							{% endfor %}
						</ul>
					</div>
					<input type="hidden" id="teacher" name="teacher" value="All" />
				</div>

				<div class="input-prepend">
					<label for="message"><span
						class="add-on validLabel fontawesome-comment"></span></label>
					<textarea
						placeholder="Questions, Concerns, and Feedback are very much appreciated."
						id="message" name="message"
						title="Please provide questions/comments."></textarea>
				</div>

				<input id="contactSubmit" type="submit" value="Send" />

			</form>


		</div>


	</div>

	<div class="col-xs-12 col-sm-12 col-md-6">
		<h3>Stop by</h3><br/>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2837.457920664627!2d-74.98686889999999!3d44.6694258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc60c70976dbfb%3A0x45bfdff525437f50!2s25+Market+St%2C+Potsdam%2C+NY+13676!5e0!3m2!1sen!2sus!4v1438529987132" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
<h3>Write to us</h3>
<p>Trillium Center for Yoga and Health, P.O. Box 462, Potsdam, NY 13676</p>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
	</div>


	</div>

	<div id="contactthankyou" class="overlay">
		<div class="popup">
			<div class="profile">
				<h2>Thank You!</h2>
				<a class="close" href="#contact">×</a>
				<div class="content">Thank you! Your message has been
					received, and we'll be in touch shortly!</div>
			</div>
		</div>
	</div>



</div>
