{% include section-head.html identification="fees" title="Fee Options" subtitle="" splash="suryathon"%}


<div class="scrolling">
	<div class="container">
	<div class="row">
	<div class="col-md-4"><strong>Drop-in fee</strong></div>
	<div class="col-md-8">$15.00 per Class</div>
	</div>
	<div class="row">
	<div class="col-md-4"><strong>Advance Pay Pass</strong></div>
	<div class="col-md-8">$120.00 for 10 Classes</div>
	</div>
	<div class="row">
	<div class="col-md-4"><strong>Session Classes</strong></div>
	<div class="col-md-8">Determined by Teachers</div>
	</div>
	<p>&nbsp;</p>
	<p>We accept cash or check.</p>
	</div>

</div>
