<h1>Trillium Yoga Center, LLC</h1>
Herein, "Trillium"
<h2>Private Policy</h2>
<p>Trillium takes your privacy seriously. Your name, email address, phone number, and any other information collected is kept in strict confidence.
We collect this information only so that we may engage in business with you, and do not sell or share your information with anyone else.</p>
<p>Our website contact form uses a third party service, SimpleForm, and information submitted there may be subject to their <a href="http://www.websrvr.in/privacy/">privacy policy</a> as well.</p>