

		{% assign counter = 0 %}
		{% assign sorted = (site.posts | sort: 'shortname') %}
		{% for post in sorted %}
		{% if post.categories contains {{include.category}} %}
		{% capture indexmod %}{{ counter | modulo: 4 }}{% endcapture %}
		{% capture counter %}{{counter | plus:1 }}{% endcapture %}
		<!-- {{ indexmod }} -->
		{% assign closed=false %}
		{% if forloop.first or indexmod == "0" %}
		<div class="row">
			<div class="span4">
		{% endif %}

				<div id="{{post.shortname}}-img" class="col-md-3 col-sm-3 col-xs-6 profileblock">
					<a href="#{{#post.shortname}}" class="thumbnail button"
						data-toggle="modal" data-target="#{{post.shortname}}-bio"> <img
						src="/images/headshots/{{post.shortname}}.jpeg" alt="{{post.title}}"><br />
						<h3>{{post.title}}</h3>
					</a>
				</div>


		{% if forloop.last or indexmod == "3" %}
			{% assign closed=true %}
				<span class="profilestretch"></span>
				</div>
				<!--  end span4 -->
			</div> <!-- end row -->
		{% endif %}

				{% endif %} {% endfor %}

		{% if closed == false %}
			{% assign closed=true %}
				<span class="profilestretch"></span>
				</div>
				<!--  end span4 -->
			</div> <!-- end row -->
		{% endif %}
