	{% for post in site.categories.healingartsdetails %}
	<div class="modal fade teacher-bio" id="healingartsdetails-popup"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		data-backdrop="false">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h2 class="modal-title" id="myModalLabel">{{post.title}}</h2>
				</div>
				<div class="modal-body">
					{{post.content}}
				</div>
				<div class="modal-footer">
					<button id="miller-bio-close" type="button"
						class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}

		{% for post in site.posts %}
		{% if post.categories contains 'class' %}
				{% for teacher in site.posts %}
				{% if teacher.categories contains 'teacherbio' or teacher.categories contains 'ownerbio' or teacher.categories contains 'counselorbio' %}
					{% if teacher.shortname == post.teacher %}
						{% assign teacherpost = teacher %}
						{% break %}
					{% endif %}
				{% endif %}
				{% endfor %}

				<div class="modal fade teacher-bio" id="{{post.classidentifier}}-description"
					tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
					data-backdrop="false">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h2 class="modal-title" id="myModalLabel">{{post.title}} with {{teacherpost.title}}</h2>
							</div>
							<div class="modal-body">
								<h3>Class description</h3>
								{{post.content}}
								<h3>About this class</h3>
								<p>This is
									{% if post.type == 'session' %}
									a session class
										{% if post.number == nill %}
										{%else%} with {{post.number}} classes,
										{% endif %} and
										{% if post.dropins == 'no' %} is closed{%else%} is open{%endif%} to drop-ins.
										{% if post.fee == nil %}
										{% else %}
										The session fee is {{post.fee}}.</p>
										{% endif %}
								 {% else %}an on-going class.
								 {% endif %}

							</div>
							<div class="modal-footer">
								<button id="miller-bio-close" type="button"
									class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>

		{% endif %} {% endfor %}

		{% for post in site.posts %}
		{% if post.categories contains 'teacherbio' or post.categories contains 'ownerbio' or post.categories contains 'counselorbio' %}

				<div class="modal fade teacher-bio" id="{{post.shortname}}-bio"
					tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
					data-backdrop="false">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">{{post.title}}</h4>
							</div>
							<div class="modal-body">
										{{ post.content }}

										{% if post.email == nil and post.phone == nil and post.facebook == nil %}
										{% else %}
										<h3>Contact information</h3>
										<div class="row">
											<div class="col-md-6 col-sm-6">
												{% if post.email == nil %}
												{% else %}
												<p><a href="mailto:{{post.email}}">Send me an e-mail!</a></p>
												{% endif %}
												{% if post.phone == nil %}
												{% else %}
												<p>Call me: {{post.phone}}</p>
												{% endif %}
											</div>
											<div class="col-md-6 col-sm-6">
										{% if post.facebook == nil %}
										{% else %}
										<div class="facebook-btn">
											<a class="btn btn-primary btn-md round"
												href="https://www.facebook.com/{{post.facebook}}">
												Love me on Facebook! </a>
										</div>
										{% endif %}
										</div>
								    </div>
										{% endif %}

							</div>
							<div class="modal-footer">
								<button id="miller-bio-close" type="button"
									class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>

		{% endif %} {% endfor %}
