		<h3><strong>Save the Date:</strong></h3>
			<p><strong>North Country Tai Chi with Sean Boutin</strong> is coming to Trillium.
				Introductory Winter Open House classes on January 12, 14, 19 and 21.
				<a href="/nctaichi.html">More information</a></p>
			<p><strong>Awareness in Motion with the Alexander Technique</strong>. Two workshops, Wednesday,
				January 20 7:00 pm - 8:30 pm and Sunday, January 24, 1:30 pm - 3:00 pm.
				<a href="/events.html#motion">More information</a></p>
			<p><strong>The Myth of Aging, A Somatic Perspective with Richard Hudspith</strong>: Open Class,
				Workshop, and Private Sessions the weekend of January 29-31.
				<a href="/events.html#aging">More information</a></p>
			<h3><strong>Two new session classes</strong>:</h3>
			<ul>
				<li><strong>Traditional Indian Yoga, Student Friendly</strong>: 5 Fridays,
					4:15 pm - 5:15 pm, January 29 - February 26 $60. Special Student Deal:
					$50 or 2 for 1, bring a friend, $25 each or $5 per class</li>
			  <li><strong>Meditation, Presence, and the Power of Blessing</strong> with
					Debra Mitchell: 4 Mondays, noon-12:45 pm, February 8 - 29. $40.
					Pre-registration required</li>
			</ul>
			<p>For more information on these new session classes, see the class
				descriptions linked in the schedule below.</p>
				<p>&nbsp;</p>


		<h1>Current Class Schedule</h1>
		{% assign today = 'now' | date: "%s" %}
		{% assign count=0 %}

		{% for index in (0..6) %}
			{% assign schedulepost=nil %}
			{% for datevalue in site.datenumbers %}
				{% if datevalue.value == index %}
					{% assign currentday = datevalue.day %}
					{% break %}
				{% endif %}
			{% endfor %}

			<!-- {{currentday}} -->
			{% comment %}Now we can find the latest post tagged {{currentday}} {%endcomment%}
			{% for post in site.categories.schedule %}
				{% if post.categories contains 'intro' %}
				{% else %}
					{% if post.categories contains {{currentday}} %}
						{% assign postdate = {{post.date | date: "%s" }} %}
						{% if postdate <= today %}
							{% assign schedulepost = post %}
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}

			<!-- new row -->
			<div class="row scheduledate notop">

			<div class="col-md-2 col-sm-2">
				<div><h2>{{schedulepost.title}}</h2></div>
			</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-2"></div>
			<div class="col-md-10 col-sm-10 classdescription">
				{% include regular-schedule-day.html classes=schedulepost.classes %}
			</div>

			</div>
			{% assign schedulepost = nil %}
			<!-- end row -->
		{% endfor %}


		<h2>How to register for classes</h2>
    <p><b>Session Classes</b>: Contact the teacher of the class you wish to take. Teacher contact
			information is located on the teacher information page which pops up when you click on the
			teacher’s name. When you come to Trillium for the first time for a session class, you will
			sign a registration form and a liability release form. You will pay the teacher for the full
			session. Please note: Most teachers allow drop-in students to attend their session classes.
			If the class is closed to drop-ins, it will be clearly stated in the class description.</p>
		<p><b>On-going classes</b>: When you come to Trillium for the first time, you will sign a
			registration form and a liability release form. You may pay for your class as a drop-in
			student or the you may purchase a 10-class card. The 10 class card will be initialed by
			the teacher every time you take a class. You may only use 10-class cards for ongoing classes.
			Cards will stay at Trillium and you will be shown how to retrieve and use your card.</p>
