

{% include section-head.html identification="schedule" title="Schedule" subtitle="" splash="vrksasana"%}


<div class="scrolling">
	<div class="container">
		<div class="container">

		</div>
		{% assign today = 'now' | date: "%s" %}
		
		{% assign count=0 %}
		{% for post in site.posts reversed %} 
		{% assign posttime = {{post.date|date:"%s"}} %}
		<!--  {{post.date|date:"%s"}} > {{today}}  -->
		{% if post.categories contains 'schedule' and {{posttime}} > {{today}} %}
		
		{% if count == 0 %}
		{% capture firstday %}{{ post.date | date: "%A" }}{% endcapture %}
		{% endif %}
		
		{% capture postday %}{{ post.date | date: "%A" }}{% endcapture %}
		{% capture priorday %}{{ post.previous.date | date: "%A" }}{% endcapture %}
		{% capture nextday %}{{ post.next.date | date: "%A" }}{% endcapture %}
		
			{% if post.previous == nil or postday != priorday %}
			{% assign count = count|plus:1%}
			<div class="row scheduledate">
			<div class="col-md-4 col-sm-4">
				<div><h1>{{ postday }}</h1></div>
				<div><h4>{{ post.date | date: "%B %-d" }}</h4></div>
			</div>
			<div class="col-md-8 col-sm-8 classdescription"><p>
			{% endif %}
			<div>
				<h3>{{post.title}} with {{post.teacher}}</h3>
				{% assign content = post.content | strip_newlines %}
			    {% if content != "" %}
			        {{ post.content }}
			    {% endif %} <p>Class starts at {{ post.date | date: "%I:%M %p" }}</p>
			</div>			
			{% if post.next == nil or postday != nextday %}
			</div>
			</div>
			{% endif %}
		{% endif %}

		<!-- {{nextday}} == {{firstday}} -->
		{% if count > 1 and nextday == firstday %} {% break %} {% endif %}
		{% endfor %}
		
	</div>

</div>


