		 <h3><strong>Coming up at Trillium:</strong></h3>
				<p><strong>Acupuncture by Design with Michael Ayotte</strong>, MSTOM, L.A.c.,Practitioner of Traditional Chinese
					Medicine, Licensed Acupuncturist, will see individuals in our
					Healing Arts Room beginning November 4. Contact Michael,
					315-250-2018, <a href="http://acupuncturebydesign.com">acupuncturebydesign.com</a></p>
				<p><strong>Yoga Fundraiser For St Lawrence County Renewal House</strong>,
					Saturday, December 3, 12:30 pm - 5:00 pm. Three yoga classes, musical
					accompaniment provided by DJ Jody Tosti, Donation $15 per class.
					Pre-registration <a href="mailto:shannon@trillimyogacenter.com">shannon@trillimyogacenter.com</a>
					<a href="/events.html#renewal">More information</a>
				<p>&nbsp;</p>
				<h3><strong>Class Notes:</strong></h3>
				<p>New class, <strong>Classic Hatha</strong> with Shannon Miller
					starts Mondays, 11/14, 5:45 pm - 6:45 pm. See class listing for more information</p>
				<p><strong>Pregnancy Yoga</strong> is now an ongoing class, beginning November 5.
					See class listing for more information</p>
				<p><strong>Yoga Nidra</strong> returns Tuesday, 11/15, 7:00 pm - 8:00 pm.
					See class listing for more information</p>
				<p>&nbsp;</p>
				<h3><strong>Cancellations:</strong></h3>
				<p><strong>Trillium Tabata</strong> classes Tuesday, November 15, Thursday,
					November 17, and Tuesday, November 22, 4:00-5:00 pm are cancelled</p>
				<p><strong>Morning Yoga</strong> class at 8:30 am on Wednesday 11/16 is cancelled</p>
				<p><strong>All classes</strong> are cancelled for Wednesday, November 23</p>
				<p><strong>Trillium Center will be closed</strong> on Thursday, November 24,
					<strong>Thanksgiving Day</strong></p>
				<p><strong>Hatha Yin</strong> class on Friday, November 25, 9:00 am is cancelled</p>
				<P><strong>Pregnancy Yoga</strong> class on Saturday, November 26, 10:30 am is cancelled</p>
				<p>&nbsp;</p>

		<h1>Current Class Schedule</h1>
		{% assign today = 'now' | date: "%s" %}
		{% assign count=0 %}

		{% for index in (0..6) %}
			{% assign schedulepost=nil %}
			{% for datevalue in site.datenumbers %}
				{% if datevalue.value == index %}
					{% assign currentday = datevalue.day %}
					{% break %}
				{% endif %}
			{% endfor %}

			<!-- {{currentday}} -->
			{% comment %}Now we can find the latest post tagged {{currentday}} {%endcomment%}
			{% for post in site.categories.schedule %}
				{% if post.categories contains 'intro' %}
				{% else %}
					{% if post.categories contains {{currentday}} %}
						{% assign postdate = {{post.date | date: "%s" }} %}
						{% if postdate <= today %}
							{% assign schedulepost = post %}
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}

			<!-- new row -->
			<div class="row scheduledate notop">

			<div class="col-md-2 col-sm-2">
				<div><h2>{{schedulepost.title}}</h2></div>
			</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-2"></div>
			<div class="col-md-10 col-sm-10 classdescription">
				{% include regular-schedule-day.html classes=schedulepost.classes %}
			</div>

			</div>
			{% assign schedulepost = nil %}
			<!-- end row -->
		{% endfor %}


		<h2>How to register for classes</h2>
    <p><b>Session Classes</b>: Contact the teacher of the class you wish to take. Teacher contact
			information is located on the teacher information page which pops up when you click on the
			teacher’s name. When you come to Trillium for the first time for a session class, you will
			sign a registration form and a liability release form. You will pay the teacher for the full
			session. Please note: Most teachers allow drop-in students to attend their session classes.
			If the class is closed to drop-ins, it will be clearly stated in the class description.</p>
		<p><b>On-going classes</b>: When you come to Trillium for the first time, you will sign a
			registration form and a liability release form. You may pay for your class as a drop-in
			student or the you may purchase a 10-class card. The 10 class card will be initialed by
			the teacher every time you take a class. You may only use 10-class cards for ongoing classes.
			Cards will stay at Trillium and you will be shown how to retrieve and use your card.</p>
