		 <h3><strong>Coming up at Trillium:</strong></h3>
				<p><strong>North Country Tai Chi Annual Winter Open House</strong>,
					Tuesday, January 10 and January 12, 12:30 pm- 1:30 pm. Free introductory
					classes, sign up for Spring Semester, starts January 17. For more
					information, see listing below or contact Master Sean Boutin at 315-229-4003 or
					<a href="mailto:northcountrytaichi@gmail.com">northcountrytaichi@gmail.com</a>
				<p>&nbsp;</p>
				<p><strong>Wellness Party, 7 day Clean Eating Adventure</strong>, Saturday,
					January 14, 1:00 pm - 2:30 pm with health coach Carrie Whelan. The event
					is free of charge, pre- registration requested, contact Whelan at
					<a href="mailto:thepeakliving@gmail.com">thepeakliving@gmail.com</a>.
					<a href="/events.html#cleaneating">More information</a></p>
					<p><strong>Learn to Meditate</strong> at Trillium: Four Week class,
						with Ray de Silva, Wednesdays, 7:00 pm - 7:45 pm, January 25 -
						February 15. $10 per class. More information below at Community
						Meditation on Wednesdays, 7:00 pm.</p>
				<p><strong>Lunchtime Meditation</strong> with Jenna Joya Blondel,
					Thursdays:11:30 am - 12:15 pm.</p>
				<p><em>All meditation classes are held in the Healing Arts Room. Please enter silently through our Trillium's rear entrance.</em></p>
				<p>&nbsp;</p>
				<h3><strong>All New Spring Schedule:</strong></h3>
				<p><strong>New classes and sessions starting throughout January</strong>. See
					day by day schedule below for start dates and more information</p>
				<p>&nbsp;</p>


		<h1>Current Class Schedule</h1>
		{% assign today = 'now' | date: "%s" %}
		{% assign count=0 %}

		{% for index in (0..6) %}
			{% assign schedulepost=nil %}
			{% for datevalue in site.datenumbers %}
				{% if datevalue.value == index %}
					{% assign currentday = datevalue.day %}
					{% break %}
				{% endif %}
			{% endfor %}

			<!-- {{currentday}} -->
			{% comment %}Now we can find the latest post tagged {{currentday}} {%endcomment%}
			{% for post in site.categories.schedule %}
				{% if post.categories contains 'intro' %}
				{% else %}
					{% if post.categories contains {{currentday}} %}
						{% assign postdate = {{post.date | date: "%s" }} %}
						{% if postdate <= today %}
							{% assign schedulepost = post %}
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}

			<!-- new row -->
			<div class="row scheduledate notop">

			<div class="col-md-2 col-sm-2">
				<div><h2>{{schedulepost.title}}</h2></div>
			</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-sm-2"></div>
			<div class="col-md-10 col-sm-10 classdescription">
				{% include regular-schedule-day.html classes=schedulepost.classes %}
			</div>

			</div>
			{% assign schedulepost = nil %}
			<!-- end row -->
		{% endfor %}


		<h2>How to register for classes</h2>
    <p><b>Session Classes</b>: Contact the teacher of the class you wish to take. Teacher contact
			information is located on the teacher information page which pops up when you click on the
			teacher’s name. When you come to Trillium for the first time for a session class, you will
			sign a registration form and a liability release form. You will pay the teacher for the full
			session. Please note: Most teachers allow drop-in students to attend their session classes.
			If the class is closed to drop-ins, it will be clearly stated in the class description.</p>
		<p><b>On-going classes</b>: When you come to Trillium for the first time, you will sign a
			registration form and a liability release form. You may pay for your class as a drop-in
			student or the you may purchase a 10-class card. The 10 class card will be initialed by
			the teacher every time you take a class. You may only use 10-class cards for ongoing classes.
			Cards will stay at Trillium and you will be shown how to retrieve and use your card.</p>
