
<div id="teachers" class="fixed suryathon">
	<div class="sectiontext">
		<h1>Yoga Teachers</h1>
	</div>
	<div class="attribution">
		<a
			href="https://commons.wikimedia.org/wiki/Category:Yoga_school#/media/File:Suryathon4.jpg">Suryathon
			4</a> by <a href="https://commons.wikimedia.org/wiki/User:Ranveig">Ranveig</a>
		<a href="http://creativecommons.org/licenses/by/2.0">CC BY 2.0</a>
	</div>
</div>

<div class="scrolling">
	<div class="profileblocks">
		<div id="miller-img" class="profileblock">
			<a href="#miller" class="button"><img src="images/miller.jpg"
				alt="Shannon Miller"></a>
			<h3>Shannon Miller</h3>
		</div>
		<div id="delavega-img" class="profileblock">
			<a href="#delavega" class="button"><img src="images/delavega.jpg"
				alt="Terry de la Vega"></a>
			<h3>Terry de la Vega</h3>
		</div>
		<div id="benvenuto-img" class="profileblock">
			<a href="#benvenuto" class="button"><img
				src="images/benvenuto.jpg" alt="Jean Benvenuto"></a>
			<h3>Jean Benvenuto</h3>
		</div>

		<div id="gurumantrakaur-img" class="profileblock">
			<a href="#gurumantrakaur" class="button"><img
				src="images/gurumantrakaur.jpg" alt="Hongay"></a>
			<h3>Gurumantra Kaur</h3>
		</div>
		<div id="hongay-img" class="profileblock">
			<a href="#hongay" class="button"><img src="images/hongay.jpg"
				alt="Hongay"></a>
			<h3>Cintia Hongay</h3>
		</div>
		<span class="profilestretch"></span>
	</div>

	<div id="miller" class="overlay">
		<div class="popup">
			<div class="profile">
				<h2>Shannon Miller</h2>
				<a class="close" href="#miller-img">×</a>
				<div class="content">Shannon, our resident Canadian and
					Licensed Massage Therapist, is originally from Victoria B.C. Like
					many people Shannon discovered Yoga as a form of exercise. But it
					wasn’t long before she began to appreciate the benefits of the yoga
					postures, breathing exercises and meditation and was drawn into a
					regular, life changing practice. Shannon trained to become a
					Certified Hatha Yoga Teacher at Rama Lotus in Ottawa Ontario. She
					is also certified as a Radiant Child Yoga Instructor and Yoga of
					The Heart Instructor. She is passionate about sharing her yoga
					practice, to teach from what she knows, and continually learn from
					those around her, on and off the mat. She is seeing that the
					combination of massage (body work) and aspects of a yoga practice
					can be powerful medicine. Shannon says “When we show up and do the
					work, for ourselves, we find balance and perspective throughout our
					lives. It’s what makes us smile when we don’t even realize we are.”</div>
			</div>
		</div>
	</div>

	<div id="delavega" class="overlay">
		<div class="popup">
			<div class="profile">
				<h2>Shannon Miller</h2>
				<a class="close" href="#delavega-img">×</a>
				<div class="content">
					<p>Terry de la Vega, NP, CYN became an RN, then a Nurse
						Practitioner because of her passion for women’s health. As time
						went on, she felt drawn to explore the deeper aspects of mind/body
						health and healing. Having practiced yoga and meditation off and
						on since she was a teenager, becoming a yoga teacher was the path
						she chose. Since she completed the 200-hour Kripalu Yoga Teacher
						Training, as well as specific training in creating classes for
						pregnancy, back care, meditation, addiction recovery, and anxiety
						and depression, Terry has taught classes off and on in the Potsdam
						area, while continuing to work full time as an NP. In 2013 Terry
						was delighted to become a Certified YogaNurse®. This brand new
						specialty combines the ancient wisdom of yoga with the modern
						science of nursing.</p>
					<p>As well as teaching yoga classes, Terry sees clients at
						Trillium for yoga therapy sessions in her business Light on
						Healing Yoga.</p>
					<p>Terry believes everyone can do yoga. All they need to do is
						to start where they are and do what they are able to do in the
						moment with awareness and compassion. Doing yoga creates unity and
						wholeness leading to inner peace and connection with the divine.
						She has seen amazing healing and relief of pain and suffering in
						her self and her students.</p>
				</div>
			</div>
		</div>
	</div>

	<div id="benvenuto" class="overlay">
		<div class="popup">
			<div class="profile">
				<h2>Jean Benvenuto</h2>
				<a class="close" href="#benvenuto-img">×</a>
				<div class="content">Certified through Kripalu Center for Yoga
					and Health, Jean believes that a regular yoga practice has provided
					her both physical and mental strength and stability. Aligned
					withTrillium's mission in promoting community and wellness, she
					hopes to share the love, passion and joy of a mindful practice of
					yoga.</div>
			</div>
		</div>
	</div>

	<div id="hongay" class="overlay">
		<div class="popup">
			<div class="profile">
				<h2>Cintia Hongay</h2>
				<a class="close" href="#hongay-img">×</a>
				<div class="content">Cintia F. Hongay, PhD, RMT, RYT, has been
					practicing yoga for more than 19 years. Her first training was in
					the Iyengar method where she gained a good knowledge of body
					alignment and proper use of yoga props to help the body achieve the
					full expression of an asana and to relax into the pose in a safe,
					mindful, meditative way. She will help students of all body types
					achieve their full expression of yoga postures with awareness and
					mindfulness. Cintia recently received her 200-hour Kripalu Yoga
					Teacher certification. In addition, she has taken yoga trainings
					for back pain, proper pelvic alignment, meditation, and the
					Franklin Method. Cintia is a full-time biology teacher and
					researcher at Clarkson University. Born in La Plata Argentina,
					Cintia lived in Italy before acquiring her American citizenship.
					She brings a multicultural approach to her teachings and a deep
					understanding of the science behind yoga.</div>
			</div>
		</div>
	</div>

	<div id="gurumantrakaur" class="overlay">
		<div class="popup">
			<div class="profile">
				<h2>Gurumantra Kaur</h2>
				<a class="close" href="#gurumantrakaur-img">×</a>
				<div class="content">
				<p>Gurumantra Kaur is the North Country's premier Kundalini Yoga Instructor, as taught by Yogi Bajan. She is a 500 RYT, having over 500 hours of classroom time with students from across St. Lawrence County and the greater Ottawa, ON region. Gurumantra Kaur is a member of the Kundalini Research Institute (KRI), the International Yoga Therapists Association (IYTA), and Happy Healthy Holy Organization (3HO).<p>
				<p></p>She specializes in gong meditation and relaxation, stress and anxiety, addiction therapy, mental health awareness, fertility susceptibility, prenatal, senior citizen flexibility, and meditational classes from beginners to advance persons.
				</div>
			</div>
		</div>
	</div>


</div>