<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/trillium.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/contact.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <script>$(document).ready(function(){
	
	jQuery.validator.setDefaults({
		debug: true,		
		success: "valid"
		});
	
		$( "#frmContact" ).validate({
		invalidHandler: function(event, validator)
		{
			var list = validator.errorList;
			$.each(list, function(index, item)
			{
				$(item).addClass("errorLabel");
			});
		},
		rules: 
		{ 
			frmName: 
			{
				required: true,
				minlength: 3
			},
			frmEmail: 
			{ 
				required: function(element)
				{
					if(!$("#frmPhone").val() == "") 
						return false;
					else
						return true;
				}, 
					email: true 
			},
			frmPhone: 
			{
				required: true
				
			}, 
			frmMessage: 
			{
				required: true
			}
		},
		messages: {
			frmName: {
				required: "Please include your name.",
				minlength: "Please ensure your name is longer than {0} characters.",
				}
			
		}
	});
	
	

});</script>
</head>
