
<header>
	<nav class="navbar navbar-default navbar-fixed-top trilliumnav">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index.html#"><img src="images/trillium.png" alt="logo" /></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/index.html#center">Our Center</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Information <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/classes.html">Classes</a></li>
							<li><a href="/events">Events &amp; Workshops</a></li>
							<li><a href="/nctaichi.html">North Country Tai Chi</a></li>
							<li><a href="/index.html#healingarts">Healing Arts</a></li>
							  <li role="separator" class="divider"></li>
							<li><a href="/index.html#teachers">Teachers</a></li>
							<li><a href="/index.html#counselors">Counselors</a></li>
							  <li role="separator" class="divider"></li>
							<li ><a href="/index.html#fees">Fee Options</a></li>
							<li><a href="/index.html#beginners">Information for Beginners</a></li>
						</ul></li>
					<li><a href="/index.html#contact" class="rsvp">Contact Us</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</header>

<!--
<header class="header">
	<div id="mm_logo">
		<a href="#"><img src="images/trillium_logo_900.png" alt="logo"/></a>
	</div>
	<nav class="main-nav">
		<ul>
			<li><a href="#">About</a></li>
			<li><a href="#beginners">Beginners</a></li>
			<li><a href="#teachers">Teachers</a></li>
			<li><a href="#schedule">Schedule</a></li>
			<li><a href="#contact" class="rsvp">Contact</a></li>
		</ul>
	</nav>
</header>

 -->
