<html>
	<head>
		<title>Trillium Center for Yoga and Health</title>

		<link rel="stylesheet" href="/css/trillium.css"/>
		<link rel="stylesheet" href="/font-awesome-4.3.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		
		<style>

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
		</style>

	</head>
	<body>

<div class="top"
<img src="/images/trillium_logo_900.jpeg"/>
</div>

<div class="middle">
<a class="btn btn-lg btn-success" href="https://www.facebook.com/pages/Trillium-Center-for-Yoga-Health/1585666391687863">
  <i class="fa fa-circle-o-notch fa-spin pull-left"></i>&nbsp;&nbsp;&nbsp;While we're under construction, visit us on Facebook!</a>

</div>
	</body>
</html>
